
.movie-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 18rem 1rem 1rem 1rem;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  color: white;
  overflow: auto;
}

.movie-detail::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  z-index: -1;
}

.movie-detail img {
  width: 50%;
  max-width: 18.75rem;
  height: auto;
  margin-bottom: 1rem;
  border-radius: .5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-detail button {
  margin: 1rem;
  padding: 0.625rem;
  font-size: 1rem;
  cursor: pointer;
}

.poster img {
  width: 100%;
  max-width: 31.25rem;
  height: auto;
  margin: 0 auto;
  border-radius: .5rem;
}

.movieSpecs {
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  display: inline-block;
  max-width: 90%;
}

.movie-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.movie-rating, .movie-released, .overview p {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.movie-detail::after {
  content: '';
  display: block;
  height: 2rem;
}
