.movie-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem; /* Add margin to ensure space between cards */
}

.movie-cards img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor:pointer;
}

.movie-cards h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.movie-cards p {
  margin: 0.25rem 0;
  color: #666;
}